.login-page{
    margin: 10px auto;
    width: 400px;

    .titulo{
        color:rgb(1, 105, 1);
        font-size: 56px;
        font-weight: bold;
        margin: 30px;
        letter-spacing: 5px;
    }
}